
#player{

  position:relative;
  left:500px
}
.dealer{
  /* background:#000 !important; */
}

.card_container{
  border:1px solid black;
  height:300px;
  width:200px;
  position:absolute;
    transform-style:preserve-3d;
    transition:0.1s;
    background-image:linear-gradient(yellow,blue);


}

.full_deck{
  position:relative;
}

.suit-display, .number-display{
  font-size:30px
}

.flip_card .flip{



}
.test{
  left: 135px !important;

}

#dealer{
    position: relative;
  left: 1070px;

}


.card_container.slide_over{
transform:translate(250px);


}





.red{
  color:red;
}

.black{
  color:#000;
}

button{
  position:relative;
  top:500px;
}
