.card_container{
  border:1px solid black;
  height:300px;
  width:200px;
  position:absolute;
    transform-style:preserve-3d;
    transition:2s;


}

.full_deck{
  position:relative;
}

.suit-display, .number-display{
  font-size:30px
}

.back{
  transform:rotatey(180deg);
    backface-visibility:hidden;

}
.front{
    backface-visibility:hidden;
}

.slide_over{
  transform:translate(180px)
}
.flip_card .flip{


}

.flip_card.front{
    transform:rotatey(180deg);
        backface-visibility:hidden
}


.red{
  color:red;
}

.black{
  color:#000;
}
